<div class="container">
    <h2>Consulta Plan de Acciones</h2>
    <table class="table">
        <tr>
            <th>Actividad</th>
            <th>horas</th>
            <th>fecha Asignacion</th>
            <th>Estado</th>
            <th></th>

        </tr>
        <tr *ngFor="let ac of actividades">
            <td>{{ac.nombreActividad}}</td>
            <td>{{ac.horasAsignadas}}</td>
            <td>{{ac.fechaAsignacion}}</td>
            <td>{{ac.estado}}</td>
            <td *ngIf="ac.estado==='Asignada'"><a routerLink="/planAdd">Registrar Plan</a></td>
            <td *ngIf="ac.estado==='Planeada'"><a routerLink="/planSee/{{ac.idActividad}}">Ver</a></td>
        </tr>
    </table>
</div>