<div class="container">
    <h2>Consulta Plan de Acción</h2>
    <table class="table">
        <tr>
            <th>Actividad</th>
            <th>horas</th>
            <th>fecha Asignacion</th>
            <th>Estado</th>
            <th></th>

        </tr>
        <tr *ngFor="let p of planes">
            <td>{{p.actividad.nombreActividad}}</td>
            <td>{{p.actividad.horasAsignadas}}</td>
            <td>{{p.actividad.fechaAsignacion}}</td>
            <td>{{p.actividad.estado}}</td>
            <td *ngIf="!(p.actividad.estado==='Asignada') && !(p.actividad.estado==='Terminada') && !(p.actividad.estado==='No Terminada') "><a routerLink="/accionesList/{{p.idPlanAcciones}}">Registrar descripciones</a></td>
            <td *ngIf="(p.actividad.estado==='Terminada') || (p.actividad.estado==='No Terminada') "><a routerLink="/accionesList/{{p.idPlanAcciones}}">Ver</a></td>
        </tr>
    </table>
</div>
