<div class="container">
    <h2>Consulta Plan de Acciones</h2>
    <table class="table">
        <tr>
            <th>Actividad</th>
            <th>horas</th>
            <th>fecha Asignacion</th>
            <th>Estado</th>
            <th></th>

        </tr>
        <tr *ngFor="let p of planes">
            <td>{{p.actividad.nombreActividad}}</td>
            <td>{{p.actividad.horasAsignadas}}</td>
            <td>{{p.actividad.fechaAsignacion}}</td>
            <td>{{p.actividad.estado}}</td>
            <td *ngIf="p.actividad.estado==='Planeada'"><a routerLink="/accionesList/{{p.idPlanAcciones}}">Registrar descripciones</a></td>
        </tr>
    </table>
</div>
