input{

    font-size: 15px;
    height: 30px;
    width:200px ;
}
label{

    font-size: 15px;
}
select{
    font-size: 15px;
    height: 30px;
    width:200px ;

}
option{

    font-size: 15px;
    height:30px;
    width:200px ;
}
button{

    background-color: green;
}
button:hover{

background-color: seagreen;

}
span{
color: red;
}
