<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<div class="modal-content" style="position:static;">
  
    <div class="modal-header">
      <h5 class="modal-title">Descripcion Accion Realizada</h5>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">
          <div class="form-group">
              <label for="Descripcion">Descripcion</label>
              <textarea
                class="form-control rounded-0"
                name="descripcion"
                id="textarea"
                cols="30"
                rows="10"
                  [(ngModel)]="accion.accionRealizada"
              ></textarea>
            </div>
          <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
            <div class="form-group" style="text-align: right;">
              <button class="btn btn-primary" (click)="addAccionRealizada()">Guardar</button>
            </div>
      </div>

      </div>
      
   
    <div class="modal-footer">
 
      <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
    </div>
</div>
